.sidebar {
  width: 250px;
  background-color: #f8f8f8;
  color: #333;
  height: 750vh;
  overflow-y: auto;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
}

.logo h1 {
  font-size: 24px;
  margin-bottom: 30px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  position: relative;
  margin-bottom: 10px;
}

.sidebar nav ul li a,
.menu-toggle1 {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar nav ul li a:hover,
.menu-toggle:hover {
  background-color: #e0e0e0;
}

.submenu {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 20px;
}

.submenu li {
  margin-bottom: 5px;
}

.submenu li a {
  display: block;
  padding: 8px 10px;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.submenu li a:hover {
  background-color: #e0e0e0;
}

.menu-toggle1 {
  background: none;
  border: none;
  /* color: inherit; */
  /* font: inherit; */
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.sidebar nav ul li i {
  margin-right: 10px;
  font-size: 18px;
}

.sidebar nav ul li.active a,
.sidebar nav ul li.active .menu-toggle1 {
  background-color: #e0e0e0;
}

.menu-name {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;
  }

  .logo {
    display: none;
  }

  .sidebar nav ul {
    display: flex;
    justify-content: space-around;
  }

  .sidebar nav ul li {
    margin-bottom: 0;
    flex: 1;
    text-align: center;
  }

  .menu-name,
  .submenu {
    display: none;
  }

  .menu-toggle {
    justify-content: center;
  }

  .sidebar nav ul li i {
    margin-right: 0;
  }
}

